<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="esocial.vallasmobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".app.VallasApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".app.Splash"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".app.Login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".app.MainTabActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.ubicaciones.UbicacionDetalle"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".app.incidencias.IncidenciaAdd"
            android:screenOrientation="portrait"
            android:theme="@style/AppDialog"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".app.ordenes.OrdenDetalle"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".app.FullScreenImage"
            android:screenOrientation="sensor" />

        <activity
            android:name=".app.incidencias.IncidenciaSelectUbicacion"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".app.incidencias.IncidenciaSelectMedio"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".app.incidencias.IncidenciaDetalle"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".app.ordenes.OrdenComentarioCierre"
            android:screenOrientation="portrait"
            android:theme="@style/AppDialog"
            android:windowSoftInputMode="stateHidden" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <service
            android:name=".services.LocationService"
            android:enabled="true"
            android:exported="true">
        </service>

        <service
            android:name=".services.SendImagesService"
            android:enabled="true"
            android:exported="true">
        </service>

    </application>

</manifest>
